* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --dark-bg: #090909;
  --text: #fff;
  --link: rgb(0, 195, 255);
  --orange: rgb(255, 193, 78);
  --red: rgb(226, 39, 39);
  --color-grey: #9b9b9b;
}
html::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background-color: aqua;
  border-radius: 20px;
}
body {
  background-color: var(--dark-bg);
  color: var(--text);
  max-width: 1300px;
  margin: 0 auto;
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: var(--link);
}
/* header section */

header {
  height: 300px;
}
header .header-container {
  position: relative;
}
header .header-container .header-container_cover {
  /* height: 350px;
  overflow: hidden; */
}
header .header-container .header-container_cover img.cover-image {
  width: 100%;
  height: 330px;
  filter: blur(1.5px);
}
header .header-container .dp-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 345px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(9, 9, 9, 1) 0%,
    rgba(0, 0, 0, 0.7231267507002801) 43%,
    rgba(0, 0, 0, 0) 100%
  );
}
header .header-container .dp-container img.dp-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
header .header-container .dp-container h1.name {
  font-size: 1.5rem;
  line-height: 38px;
}
header .header-container .dp-container .details {
  font-size: 0.9rem;
}
header .header-container .dp-container .location {
  padding: 5px 0;
  font-size: 0.8rem;
  color: rgb(194, 194, 255);
}
header .header-container .dp-container a {
  padding-top: 8px;
  font-size: 0.8rem;
}
@media screen and (max-width: 540px) {
  header {
    height: 240px;
  }
  header .header-container .header-container_cover img.cover-image {
    height: 220px;
  }
  header .header-container .dp-container {
    height: 245px;
  }
  header .header-container .dp-container img.dp-image {
    width: 75px;
    height: 75px;
  }
  header .header-container .dp-container h1.name {
    font-size: 1.3rem;
  }
  header .header-container .dp-container .details {
    font-size: 0.85rem;
  }
}
/* nav bar */
.navBar {
  background-color: #00000098;
  height: 5vh;
  z-index: 100;
  position: sticky;
  top: 0px;
}
.navBar ul.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
.navBar ul.nav-links .nav-link {
  font-size: 1rem;
  text-align: center;
  padding: 10px;
  position: relative;
  transition: transform 0.3s ease;
}
.navBar ul.nav-links .nav-link a {
  background: -webkit-linear-gradient(164deg, #7b4397 0%, #dc2430 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
.navBar ul.nav-links .nav-link:hover {
  transform: scale(1.1);
}
.navBar ul.nav-links .nav-link:hover a::before {
  content: "hehe";
  position: absolute;
  bottom: -2px;
  background: var(--orange);
  color: var(--orange);
  width: 100%;
  clip-path: polygon(59% 90%, 100% 100%, 45% 100%, 0 100%, 40% 90%, 50% 58%);
}
/*  */
@media screen and (max-width: 780px) {
  .navBar ul.nav-links .nav-link {
    font-size: 0.8rem;
    padding: 8px;
  }
}

/* about section */
#About {
  margin-top: 10%;
  padding: 0 30px;
}
#About .about-container {
}

#About .about-container .about-data-container {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  flex-wrap: wrap;
}
#About .about-container .about-data-container .data-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#About .about-container .about-data-container .data-container h1.head {
  margin-top: 5%;
  font-size: 1.4rem;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
}
#About .about-container .about-data-container .data-container h1.head::before {
  content: " ";
  position: absolute;
  width: 100%;
  bottom: -5px;
  height: 3px;
  background: rgb(0, 254, 255);
  border-radius: 0 100px 100px 0;
  background: linear-gradient(
    83deg,
    rgba(0, 254, 255, 1) 0%,
    rgba(58, 57, 57, 1) 100%
  );
}

#About .about-container .about-data-container .data-container p.data {
  max-width: 500px;
  word-spacing: 1px;
  line-height: 21px;
  font-size: 1rem;
  text-align: left;
}
#About
  .about-container
  .about-data-container
  .data-container
  .about-actions
  a.btn {
  padding: 8px 16px;
  font-size: 0.8rem;
  border-radius: 20px;
  margin-right: 15px;
  color: var(--text);
}
#About
  .about-container
  .about-data-container
  .data-container
  .about-actions
  a.btn:hover {
  background: -webkit-linear-gradient(164deg, #7b4397 0%, #dc2430 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}
#About
  .about-container
  .about-data-container
  .data-container
  .about-actions
  a.download-cv
  i.fa-solid {
  color: var(--link);
  padding-right: 6px;
}
#About
  .about-container
  .about-data-container
  .data-container
  .about-actions
  a.watch-demoreel
  i.fa-solid {
  color: var(--red);
  padding-right: 6px;
}
#About
  .about-container
  .about-data-container
  .data-container
  .about-actions
  a.download-cv {
  border: 2.2px solid var(--orange);
}
#About .about-container .about-data-container .data-container .about-actions {
  margin-top: 20px;
}
#About
  .about-container
  .about-data-container
  .data-container
  .about-actions
  a.watch-demoreel {
  border: 2.2px solid var(--red);
}
#About .about-container .about-data-container img {
  width: 400px;
}
#About .about-container .links {
  text-align: center;
  margin: 5% 0;
}
#About .about-container .links a {
  padding: 10px;
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.452);
}
#About .about-container .links a:hover i {
  background: -webkit-linear-gradient(164deg, #7b4397 0%, #dc2430 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#About .about-container .links a i {
  transition: transform 0.2s;
}
#About .about-container .links a i:hover {
  transform: scale(1.5);
}
@media screen and (max-width: 500px) {
  #About .about-container .about-data-container .data-container p.data {
    font-size: 0.9rem;
    text-align: left;
  }
  #About .about-container .about-data-container img {
    width: 90%;
  }
}

/* tab head */
.tab-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 70px;
  overflow: hidden;
}
.tab-head button.head {
  width: calc(100% / 2);
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--text);
  font-size: 1rem;
  margin-bottom: 50px;
  padding: 0 20px;
  transition: transform 0.2s ease;
}
.tab-head button.active {
  background: -webkit-linear-gradient(164deg, #7b4397 0%, #dc2430 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
  position: relative;
  transform: scale(1.2);
}
.tab-head button.active::before {
  content: "hehe";
  position: absolute;
  bottom: -15px;
  left: 10px;
  right: 10px;
  background: var(--red);
  color: var(--red);
  clip-path: polygon(54% 82%, 100% 100%, 45% 100%, 0 100%, 46% 82%, 50% 58%);
}

/* animation section */

.tab-container {
  display: none;
}
.tab-container.active {
  display: block;
}
.tab-container .gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: stretch;
  justify-items: center;
  gap: 10px;
}
.tab-container .gallery-container a {
  text-align: center;
  background-color: #00000098;
  padding: 5px;
  padding-bottom: 30px;
  border-radius: 10px;
}
.tab-container .gallery-container a img {
  width: 98%;
  height: 100%;
}
.tab-container .gallery-container a span.vdo-name {
  display: inline-block;
  font-size: 0.8rem;
  color: var(--text);
}
#model-container a img {
  width: 98%;
  height: 100%;
}

/* responsive */
@media screen and (min-width: 940px) {
  .tab-container .gallery-container .main {
    grid-column: span 2;
    grid-row: span 2;
  }
  .tab-container .gallery-container .main img {
    width: 620px;
    height: 400px;
  }
  #model-container .main img {
    width: 99%;
    height: 94%;
  }
  .tab-container .gallery-container a.main span.vdo-name {
    font-size: 1rem;
  }
  .tab-container .gallery-container a.main {
    padding-bottom: 0px;
  }
}

@media screen and (max-width: 900px) {
  .tab-container .gallery-container {
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  }
  .tab-container .gallery-container a img {
    width: 250px;
    height: 180px;
  }
}

@media screen and (max-width: 780px) {
  .tab-container .gallery-container {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
  .tab-container .gallery-container a img {
    width: 210px;
    height: 150px;
  }
}
@media screen and (max-width: 630px) {
  .tab-container .gallery-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .tab-container .gallery-container a img {
    width: 250px;
    height: 180px;
  }
}
@media screen and (max-width: 500px) {
  .tab-container .gallery-container {
    grid-template-columns: minmax(250px, 1fr);
    max-height: 150vh;
    overflow: scroll;
  }
  .tab-container .gallery-container a img {
    width: 90%;
    height: 200px;
  }
}

/* footer */

#footer {
  margin-top: 50px;
  padding: 20px 0;
  border-top: 0.2px solid rgba(255, 255, 255, 0.055);
}
#footer .footer-container {
}
#footer .footer-container .footer-content {
  /* display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center; */
  padding: 0 20px;
}
#footer .footer-container .footer-content .footer-content-left {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#footer
  .footer-container
  .footer-content
  .footer-content-left
  .footer-content-left-image
  .footer-content-left-image_logo {
  width: 60px;
  height: 60px;
}
@media screen and (max-width: 500px) {
  #footer
    .footer-container
    .footer-content
    .footer-content-left
    .footer-content-left-image
    .footer-content-left-image_logo {
    width: 30px;
    height: 30px;
  }
}

#footer
  .footer-container
  .footer-content
  .footer-content-left
  .footer-content-left-data {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#footer
  .footer-container
  .footer-content
  .footer-content-left
  .footer-content-left-data
  .links {
  display: flex;
  gap: 20px;
}
#footer
  .footer-container
  .footer-content
  .footer-content-left
  .footer-content-left-data
  .links
  a {
  font-size: 1rem;
  color: #fff;
}
#footer
  .footer-container
  .footer-content
  .footer-content-left
  .footer-content-left-data
  .contact-me,
#footer
  .footer-container
  .footer-content
  .footer-content-left
  .footer-content-left-data
  .credit {
  font-size: 0.7rem;
}
#footer
  .footer-container
  .footer-content
  .footer-content-left
  .footer-content-left-data
  .contact-me
  span,
#footer
  .footer-container
  .footer-content
  .footer-content-left
  .footer-content-left-data
  .credit {
  color: var(--color-grey);
}
#footer
  .footer-container
  .footer-content
  .footer-content-left
  .footer-content-left-data
  .contact-me
  a {
  color: #fff;
}
#footer .footer-container .footer-content .footer-content-right ul.address {
  list-style: none;
}
#footer
  .footer-container
  .footer-content
  .footer-content-right
  ul.address
  li.address-item {
  font-size: 0.8rem;
  padding: 5px 0;
}
